body{
background-image: url(style/zaky.jpg);
background-repeat: no-repeat;
background-size: cover;
}
nav {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    background: none;
    display: flex;
    justify-content: end;
    
}

.nav a {
    text-decoration: none;
    color: white;
}

.txt{
    height: 100vh;
    display : flex;
    align-items: center;
    padding: 0 31%;
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}



